@import "tailwindcss";

@theme{
    /* Fontes */

    ---font-alkalami: var(--font-alkalami), serif;

    /* CORES */

    --color-moon-gray: #918F8F; /* Texto de imput e textos pequenos */
    --color-whisper-white: #DEDDDD; /*Fundo do imput */
    --color-piano-black: #18181b; /*BG nav e footer */
    --color-electric-violet: #7C3AED; /*Botões nav */
    --color-quiet-gray: #ACABAB; /*Borda destaque da semana */
    --color-persian-red: #DC2626; /*Botão adicionar ao carrinho */
    --color-titanium-white: #E4E4E4; /*Botão + e - , fundo das outras paginas*/
    --color-quick-silver: #A7A5A5; /*Botão lixeira e botão continuar comprando */
    --color-new-gray: #A4A4A4;
    --color-deep-lime-green: #07D927; /*Tag de preço */
    --color-dodger-blue: #0081F9; /*Botão enviar */
    --color-dark-dreams: #391766; /*Sombra interna do login */
}